doctype html
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sprint Turf
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='/public/style.css')
    link(rel="stylesheet" href="/public/list-styles.css")
  body
    block content
    block foot
      #footer
        div(class="developers")
          div(class="person") Ammar Nassri
            div(class="icons")
              a(href='https://www.linkedin.com/in/anassri/' target='_blank') 
                img(src="/public/images/linkedin.png" height="30" alt="LinkedIn")
              a(href='https://github.com/anassri' target='_blank') 
                img(src="/public/images/github.png" height="30" alt="GitHub")
          div(class="person") Matt Zamora
            div(class="icons")
              a(href='https://www.linkedin.com/in/matt-zamora-95b38316b/' target='_blank') 
                img(src="/public/images/linkedin.png" height="30" alt="LinkedIn")
              a(href='https://github.com/MattZ-2051' target='_blank') 
                img(src="/public/images/github.png" height="30" alt="GitHub")
          div(class="person") Samuel Holt
            div(class="icons")
              a(href='https://www.linkedin.com/in/sam-holt-6a47a81bb/' target='_blank') 
                img(src="/public/images/linkedin.png" height="30" alt="LinkedIn")
              a(href='https://github.com/Cthulhuhub' target='_blank') 
                img(src="/public/images/github.png" height="30" alt="GitHub")
          div(class="person") Yongho Kim
              div(class="icons")
                a(href='https://www.linkedin.com/in/yongho-kim-024451199/' target='_blank') 
                  img(src="/public/images/linkedin.png" height="30" alt="LinkedIn")
                a(href='https://www.linkedin.com/in/yongho-kim-024451199/' target='_blank') 
                  img(src="/public/images/github.png" height="30" alt="GitHub")
