doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title SprintTurf
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
      link(rel='stylesheet' type='text/css' href='public/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Sprint Turf
      form(class="form-inline")
        input(class="form-control mr-sm-2" id="searchBar" type="search" placeholder="Search" aria-label="Search")
        button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
      div
        form(class="form-inline")
          a.nav-item.nav-link(href='/profile') My Profile
          a.nav-item.nav-link(href='/logout') Sign Out
    block content
