doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title SprintTurf
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
      link(rel='stylesheet' type='text/css' href='public/style.css')
  body
    nav(class="nav-main")
      div(class="sprint-img")
      ul
        li
          a(href="/") Sprinter
        li
          form(action="")
            input(type="search" id="searchBar" placeholder="Search...")
            i(class="fa fa-search")
      div(class="btn-toggle-nav" id="sidebar-btn")
    aside(class="nav-sidebar")
      ul
        li
          span My Profile
        li
          a(href="/logout") Sign Out
        li
          a(href="/contact") Contact Us
    script(src="/public/js/sideBar.js" type="module")
    script(src="/public/js/searchBar.js" type="module")
    block content
