extends layout.pug

append head
  link(rel="stylesheet" href="/public/login.css")

block content
    .login-container
        div(class="descript")
            p Sprint Turf is a simple project management app. Create projects, keep track of your progress, add comments, and assign them to teams.
        div(class="log-in")
            .login-logo
                img(src="/public/images/logo.svg" height="30" alt="logo")
            div(class="errors-container")
            form#login(class="log-in-form" action="/users/token" method="post")
                input(type="hidden" name="_csrf" value=csrf)
                .form-group
                    //- label(for='email') Email Address
                    input#email.form-control(type='email' name="email" placeholder='Email')
                .form-group
                    //- label(for='password') Password
                    input#password.form-control(type='password' name="password" placeholder='Password')
                div(class="login-buttons")
                    button.btn.btn-dark(type='submit') Log In
                    button#demo-user.btn.btn-dark(type="submit") Demo User
                .login-cancel
                    a(href='/users/sign-up') Don't have an account? Sign up here.
    script(type="module" src="/public/js/log-in.js") 
