
append content
  nav(class="nav-main")
    div(class="sprint-img")
    ul
      li
        a(href="/") Sprinter
      li
        input(type="search" id="searchBar" class="search-bar" placeholder="Search...")
    div(class="btn-toggle-nav" id="sidebar-btn")
      aside(class="nav-sidebar")
        ul
          li
            span My Profile
          li
            a(id="logout" href="users/login") Sign Out
          li
            a(href="https://github.com/anassri/remember-the-milk-project" target="_blank") Contact Us
  script(src="/public/js/sideBar.js" type="module")
  script(src="/public/js/searchBar.js" type="module")
    block nav
