extends layout.pug

append head
  link(rel="stylesheet" href="/public/list-styles.css")
  link(rel="stylesheet" href="/public/filter-list.css")
block content
    div.grid-container
      div(class="filter-list")
        div(id="tasks") All Tasks
          ul.tasks-list.hidden
            li#today Today
            li#tomorrow Tomorrow
            li#week This Week
            li#given Given To Others
            li#trash Trash
      div#projects-list
        #complete-inc-container
          #incomplete-box.completed-bar.border
            span#incomplete.bar-text Incomplete
          #complete-box.completed-bar.border
            span#complete.bar-text Completed
        ul.list-group#list-area
      div.description-area.hidden
        h3#project-title Test title
        .details-container
          .start
            span.title Start
            span#start-date.info Test
          .due
            span.title Due
            span#due-date.info Test
          .list
            span.title List
            span#list-entry.info Test
          .assigned
            span.title Assigned
            span#team-name.info Test
          .details
            span.title Details
            .details-area
              ul#details-list
        .notes-area
          .errors-container
          .add-note
          .notes-container
      div.stats-area
        h3 Stats
        .stats-container
          #project-count.count-area
          #overdue-count.count-area
          #completed-count.count-area
    script(src="/public/js/projects.js" type="module")
    script(src="/public/js/filter-list.js" type="module")
    script(src="/public/js/add-note.js" type="module")
