extends layout.pug

append head
  link(rel="stylesheet" href="/public/list-styles.css")

block content
    div.grid-container
      div#projects-list
        ul.list-group#list-area
      div.description-area.hidden
        h3 Details
        p#description
      div.stats-area
        h3 Stats
        p Test paragraph
    script(src="/public/js/projects.js" type="module")