extends layout.pug

append head

  script(src="/public/js/index.js" type="module")
  script(src="/public/js/utils.js" type='module')
  script(src="/public/js/projects.js" type='module')
  link(rel="stylesheet" href="/public/list-styles.css")
  link(rel="stylesheet" href="/public/filter-list.css")
block content
  include nav-bar.pug
    div.grid-container
      div(class="filter-list")
        div(id="task-div")
          span(id="tasks") All Tasks
          ul.tasks-list.hidden
            li.deadline Deadline
            li#teamName Team Name
              ul#team-name-list
      div#projects-list
        #complete-inc-container
          #incomplete-box.active.completed-bar.border
            span#incomplete.bar-text Incomplete
          #complete-box.completed-bar.border
            span#complete.bar-text Completed
          #add-project-area
            .errors-creation-container
            form(method='post' action='/projects-data' id="create-project-form")
              .form-group
                input(type='text' name="projectName" class="form-control" id="name-entry" placeholder="Enter a project name")
              .form-group.hidden.form-pop
                label(for="deadline") Select a deadline
                input(type='date' name="deadline" class="form-control")
              .form-group.hidden.form-pop
                label(for='teamId') Select the team
                select(name='teamId' class="form-control" id="team-selector")
                label(for="priority") Select priority level
                select(name='priority' class='form-control' id='priority-selector')
                  option(value='0') No Priority
                  option(value='1') Priority 1
                  option(value='2') Priority 2
                  option(value='3') Priority 3
              .form-group.hidden.form-pop
                label(for='description') Enter tasks for the project, separated by commas
                textarea(name='description' class="form-control")
            .button-div
                button(type="submit" form="create-project-form" class="btn btn-primary form-control form-pop hidden create-button") Create Project
                button(class="btn btn-danger form-pop hidden" id="cancel") Cancel
            div.project-list-tools
              .sorting
                .flex-btn-con
                  .marking
                    button(class="btn btn-success" id="marker") Mark as Complete
                  .dropdown-btn
                    i.fas.fa-cog.fa-2x.dropdown-icon
                .dropdown-container
                  .sorting-list-dropdown.hidden
                    a#sorting-name(href="") Sort by Name
                    a#sorting-priority(href="") Sort by Priority
                    a#sorting-deadline(href="") Sort by Deadline
                    a#sorting-team(href="") Sort by Team
        ul.list-group#list-area
      div.description-area.hidden
        .details-container
          h3#project-title
          span.title#start-title Start
          span#start-date.info Test
          span.title#due-title Due
          span#due-date.info Test
          span.title#list-title List
          span#list-entry.info Test
          span.title#team-title Assigned
          span#team-name.info Test
          span.title#details-title Details
          ul#details-list
        .notes-area
          .errors-container
          .add-note
          .notes-container
      div.stats-area
        h3 Stats
        .stats-container
          #project-count.count-area
          #overdue-count.count-area
          #completed-count.count-area
    script(src="/public/js/projects.js" type="module")
    script(src="/public/js/filter-list.js" type="module")
    script(src="/public/js/notes.js" type="module")
    script(src="/public/js/sorting.js" type="module")
