extends layout.pug

append head
  link(rel="stylesheet" href="/public/list-styles.css")

block content
    div.grid-container
      div#projects-list
        #complete-inc-container
          #incomplete.completed-bar.border
            span.bar-text Incomplete
          #completed.completed-bar.border
            span.bar-text Completed
        ul.list-group#list-area
      div.description-area.hidden
        h3#project-title Test title
        .details-container
          .start
            span.title Start
            span#start-date.info Test
          .due
            span.title Due
            span#due-date.info Test
          .list
            span.title List
            span#list-entry.info Test
          .assigned
            span.title Assigned
            span#team-name.info Test
          .details
            span.title Details
            .details-area
              ul#details-list
      div.stats-area
        h3 Stats
        .stats-container
          #project-count.count-area
          #overdue-count.count-area
          #completed-count.count-area
    script(src="/public/js/projects.js" type="module")