extends layout.pug

append head
  link(rel="stylesheet" href="/public/signup.css")
   
block content

    div(class="sign-up-container")
        .sign-up
            .signup-logo
                img(src="/public/images/logo.svg" height="30" alt="logo")
            h2 Sign Up
            div.errors-container.alert
            form.sign-up-form(action="/users/" method="post")
                .form-group
                    input(type="hidden" name="_csrf" value=csrf)
                .form-group
                    //- label(for='firstName') First Name
                    input#firstName.form-control(type='text' name='firstName' placeholder="First Name")
                .form-group
                    //- label(for='lastName') Last Name
                    input#lastName.form-control(type='text' name='lastName' placeholder="Last Name")
                .form-group
                    //- label(for='email') Email
                    input#email.form-control(type='text' name='email' placeholder="Email")
                .form-group
                    //- label(for='password') Password
                    input#password.form-control(type='password' name='password' placeholder="Password")
                .form-group
                    //- label(for='confirmPassword') Confirm Password
                    input#confirmPassword.form-control(type='password' name='confirmPassword' placeholder="Confirm Password")
                .py-2   
                    button.btn.btn-dark(type='submit') Sign Up
                    .signup-cancel
                        a.mr-4(href='/users/login') Already have an account? Log in here.
    script(src="/public/js/sign-up.js" type="module" defer)