extends layout.pug

block content
    div(class="sign-up-container")
        div(class="errors-container")
        h2 Sign Up
        form(class="sign-up-form")
            .form-group
                label(for='firstName') First Name
                input#firstName.form-control(type='text' name='firstName' placeholder="First Name")
                label(for='lastName') Last Name
                input#lastName.form-control(type='text' name='lastName' placeholder="Last Name")
                label(for='email') Email
                input#email.form-control(type='text' name='email' placeholder="Email")
                label(for='password') Password
                input#password.form-control(type='text' name='password' placeholder="Password")
                label(for='confirmPassword') Confirm Password
                input#confirmPassword.form-control(type='text' name='confirmPassword' placeholder="Confirm Password")
            button.btn.btn-primary(type='submit') Sign Up
        a(href='/log-in') 