
#task-div {
  padding: 30px;
  border-radius: 20px;
}

#task-div:hover {
  background-color: lightgray;
}
.tasks-list {
  margin-right: 60px;
  padding: 0;
}

.tasks-list li {
  padding: 5px;
  font-size: 14px;
  list-style: none;
}

.tasks-list div:hover:not(.team-filter-list) {
  background-color: #f1f1f1;
  border-radius: 20px;
}

#tasks {
  padding: 20px 0px 0px 5px;
}

.bold {
  font-weight: bold;
}

.teamname-filter {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
}

.fa-caret-right {
  margin-left: 20px;
}

.deadline-filter {
  display: flex;
  align-items: center;
  margin-left: 46px;
  width: 100%;
}

.rotate {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

.team-filter-list {
  margin-left: 20px;
}