
#task-div {
  padding: 20px;
  border-radius: 37px 37px 0px 0px;
  max-width: 100%;
}

#task-div:hover {
  background-color: lightgray;
}
.tasks-list {
  padding: 0;

}

.tasks-list li {
  padding: 5px;
  font-size: 14px;
  list-style: none;
}

.tasks-list div:not(.team-filter-list):hover {
  background-color: #f1f1f1;
  border-radius: 20px;
}

#tasks {
  margin-left: 5px;
}

.bold {
  font-weight: bold;
}

.teamname-filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.fa-caret-right {
  margin-left: 20px;
}

.deadline-filter {
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-left: 20px;
  width: 100%;
}

.rotate {
  transform: rotate(90deg);
  transition-duration: 0.25s;
}

.task-list > .team-filter-list {
  margin-left: 20px;
}

#team-name-list {
  margin-left: 45px;
}