#projects-list {
     grid-area: list;
}

.grid-container {
     margin-top: 50px;
     display: grid;
     grid-template-columns: 15% 40% 45%;
     grid-template-areas:
     "sidebar list details";
}

.selected {
     background-color: green;
}

.description-area {
     margin-left: 50px;
     grid-area: details;
}

.stats-area {
     margin-left: 50px;
     grid-area: details;
}

.hidden {
     display: none;
}

.overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.60);
     z-index: 1;
}

.details-container {
     max-width: 70%;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: auto;
     grid-template-areas:
     "start start"
     "due due"
     "list list"
     "assigned assigned"
     "details details";
}

#project-title {
     font-weight: bold;
}

.start, .due, .list, .assigned, .details {
     margin-top: 30px;
     display: flex;
     justify-content: space-between;
}

.start {
     grid-area: start;
}

.due {
     grid-area: due;
}

.list {
     grid-area: list;
}

.assigned {
     grid-area: assigned;
}

.details {
     grid-area: details;
}

.title {
     margin-left: 50px;
}

.stats-container {
     max-width: 60%;
     display: flex;
     justify-content: space-between;
}

.border {
     padding: 10px;
}

.completed-bar {
     width: 50%;
     display: inline-flex;
     justify-content: space-between;
     align-items: center;
}

.bar-text {
     margin: 0 auto;
}