/* mint green: 5cf1a9 */
/* dark gray: 2b2b2b */
/* light gray: e9e9e9 */
/* orange: fd7e14 */
/* light gray text: c8d4ce */

.grid-container{
     display: grid;
     grid-template-columns:  1fr 3fr 3fr;
     grid-template-rows: 1fr;
     grid-template-areas: "sidebar list details";
     background-color: #e9e9e9;
     border-radius: 40px;
     margin: 85px 20px 20px 20px;
     height: 89vh;
}
#projects-list {
     grid-area: list;
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: auto 1fr;
     grid-template-areas:
     "create-task"
     "project-list";
     background-color: #2b2b2b;
     border-radius: 40px;
}

.completed-tabs{
     height: 60px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr ;
     grid-template-areas:
     "incomplete completed";
     color:#e9e9e9;
     /* padding: 20px; */
     justify-items: center;
     align-items: center;
     font-size: 18px;
}

#incomplete-box{
     grid-area: "incomplete";
     background-color: #5cf1a9;
     border-radius: 40px 40px 40px 0px ;
     height: 60px;
     margin:0;
     padding: 20px;
     width: 200px;
     /* width: 13em; */
     color: #2b2b2b;
}
#complete-box{
     grid-area: "completed";
}

.list-group {
     grid-area: project-list;
}

#add-project-area {
     grid-area: create-task;
     padding: 15px;
}
.form-control.form{
     border-radius: .7rem;
}
.form-group.input{
     margin: 0;
}
.button-div {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
}

.create-button {
     max-width: 150px;
}

/* .grid-container { */
     /* padding-top: 100px; */
     /* display: grid; */
     /* min-height: 80vh; */
     /* grid-template-columns: 15% 40% 45%; */
     /* grid-template-areas: */
     /* "sidebar list details"; */
/* } */



.active {
     display: block;
}
.selected {
     background-color: green;
}

.description-area {
     margin-left: 50px;
     grid-area: details;
}

.stats-area {
     margin-left: 50px;
     grid-area: details;
}

.hidden {
     display: none;
}

.details-container {
     max-width: 70%;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: auto;
     grid-template-areas:
     "start start"
     "due due"
     "list list"
     "assigned assigned"
     "details details";
}

#project-title {
     font-weight: bold;
}

.start, .due, .list, .assigned, .details {
     margin-top: 30px;
     display: flex;
     justify-content: space-between;
}

.start {
     grid-area: start;
}

.due {
     grid-area: due;
}

.list {
     grid-area: list;
}

.assigned {
     grid-area: assigned;
}

.details {
     grid-area: details;
}

.title {
     margin-left: 50px;
}

.stats-container {
     max-width: 60%;
     display: flex;
     justify-content: space-between;
}




.flex-btn-con {
     display: flex;
     justify-content: space-between;
     width: 100%;
}
.sorting {
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
     margin: 0px;
}

.dropdown-btn{
     margin: 5px 15px 5px 0;
     cursor: pointer;
     max-width: 32px;
}
.dropdown-container{
     position: relative;
     display: inline-block;
     right: 140px;
     top: 40px;
}
.sorting-list-dropdown{
     border-radius: 10px;
     background-color: #f1f1f1;
     font-size: 13px;
     padding: 10px;
     position: absolute;
     min-width: 130px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     text-align: left;
}
.sorting-list-dropdown a{
     color: #111;
     display: block;
     text-decoration: none;
}
.sorting-list-dropdown a:hover{
     font-weight: bold;
}
 
.div-team-assign {
     display: flex;
     flex-direction: row;
}

.list-team-button {
     display: flex;
     margin: 4px;
}