
.login-container{
    background-color: #5cf1a9;
    position: relative;
    height: 100vh;
    display: flex;
}
.login-logo{
    text-align: center;
    margin-bottom: 20px;
}
.log-in{
    justify-content: center;
    align-items: center;
    
    margin: 0;
    max-width: 500px;
    padding: 40px 60px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.login-cancel{
    margin-top: 15px;
    color: #2b2b2b;
    
}

.error{
    margin:0px;
}

.alert.alert-danger{
    padding:15px;
    margin-bottom: 10px;
    
}

.descript {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 120px;
    color : white;
    font-size: 18px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

