* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 20px;
}
#search-form {
  position: relative;
  bottom: 30px;
  left: 265px;
  transform: translate(0%,-50%);
  transition: all 1s;
  width: 25px;
  height: 25px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  transition: all 1s;
}

#search-form:hover{
  width: 400px;
  cursor: pointer;
}

#search-form:hover input{
  display: block;
}

#search-form:hover .fa{
  background: #e9e9e9;
  color: black;
}
a{
  color: #2b2b2b;
}
a:hover{
  color: #2b2b2b;
  text-decoration: underline;
}
.nav-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}

.sprint-img {
  background-image: url(https://clipground.com/images/focusing-clipart-11.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  width: 50px;
  height: 60px;
  background-position: center;

}

.btn-toggle-nav {
  position: absolute;
  right: 0%;
  width: 50px;
  height: 60px;
  background-color: white;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.btn-toggle-nav:hover {
  opacity: 1.0;
  background-color: #e9e9e9;
}

#searchBar {
  height: 90%;
  background-color: #e9e9e9;
}
.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 30px;
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 15px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.nav-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 0;
  /* padding: 0 5px; */
  height: calc(100vh - 60px);
  background-color: #5cf1a9;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a {
  display: block;
  text-align: start;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2b2b;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: #e9e9e9;
}
/* .navbar-expand-lg{
  justify-content: space-between;
}
a {
  color: white
} */

.btn-dark {
    /* background-color: #000; */
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}
.btn-dark:active {
    /* background-color: #000; */
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}
.btn-dark:hover {
    /* background-color: #000; */
    background-color: #e9e9e9;
    border-color: #2b2b2b;
    color: #2b2b2b;
}